$accent-color: #2C9FA3;
$accent-color-light: #2DBDC2;
$font-choice: 'Nunito Sans', sans-serif;
$transform: translate(-50%,0%);

// About page
.updated-alert, .ui.button.cancel-edit, .ui.button.end-edit {
  display: none;
}

.cke_editable {
  padding: .5em;
}

.editor-admin {
  min-height: 100px;
  word-wrap: break-word;
}

#admin-home {
  font-family: $font-choice;
  margin-bottom: 50px;
  position: absolute;
  top: 75px;
  left: 50%;
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;

  p {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  a {
    color: $accent-color;
  }

  a:hover {
    color: $accent-color-light;
  }
}

#admin-home {
  .ui.padded.segment {
    font-family: $font-choice;
  }
}
