$accent-color: #2C9FA3;
$accent-color-light: #2DBDC2;
$subheader-color: #AAAAAA;
$font-choice: 'Nunito Sans', sans-serif;
$transform: translate(-50%,0%);

.editor-user {
  word-wrap: break-word;
}

#about, #suggest-resource, #contact, #login {
  margin-bottom: 50px;
  position: absolute;
  left: 50%;
  top: 75px;
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

/****ABOUT****/
#about-header {
  color: $accent-color;
}

#editor-about {
  font-family: $font-choice;

  h1, h2, h3 {
    color: $subheader-color;
    margin-bottom: 8px;
  }
}

/****SUGGEST NEW RESOURCE****/
#suggest-resource, #contact, #login {
  .ui.button {
    background-color: $accent-color;
    color: #FFFFFF;
    font-weight: normal;
  }

  .ui.button:hover {
    background-color: $accent-color-light;
  }
}

#suggest-resource-form {
  font-family: $font-choice;
}
