@media -sass-debug-info{filename{}line{font-family:\000038}}
.updated-alert, .ui.button.cancel-edit, .ui.button.end-edit {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.cke_editable {
  padding: .5em;
}

@media -sass-debug-info{filename{}line{font-family:\0000316}}
.editor-admin {
  min-height: 100px;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{}line{font-family:\0000321}}
#admin-home {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 50px;
  position: absolute;
  left: 50%;
  top: 75px;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
body {
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\0000315}}
body a, body h1 {
  color: #2C9FA3;
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\0000320}}
body a:hover {
  color: #2DBDC2;
}
@media -sass-debug-info{filename{}line{font-family:\0000324}}
body h2, body h3 {
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\0000328}}
body p {
  font-size: 14px;
}
@media -sass-debug-info{filename{}line{font-family:\0000332}}
body h1 {
  font-size: 30px;
}
@media -sass-debug-info{filename{}line{font-family:\0000336}}
body h2 {
  font-size: 24px;
}
@media -sass-debug-info{filename{}line{font-family:\0000340}}
body h3 {
  font-size: 18px;
}

@media -sass-debug-info{filename{}line{font-family:\0000345}}
.ui.menu, .ui.header {
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\0000350}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000354}}
.ui.fixed.main.menu {
  background-color: #2C9FA3;
  font-family: 'Nunito Sans', sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\0000360}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.09804);
}

@media -sass-debug-info{filename{}line{font-family:\0000366}}
nav .mobile.only.row .ui.vertical.menu {
  display: none;
  margin-top: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000373}}
.flashes > .ui.message:last-of-type {
  float: right;
  font-family: "Nunito Sans", sans-serif;
  overflow: visible;
  position: absolute;
  z-index: 1000;
}

@media -sass-debug-info{filename{}line{font-family:\0000382}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000387}}
.ui.dropdown > .text {
  color: gray;
}

@media -sass-debug-info{filename{}line{font-family:\0000393}}
form .field, form input, form textarea, table .field, table input, table textarea {
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\0000397}}
form .ui.button, table .ui.button {
  background-color: #2C9FA3;
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
}
@media -sass-debug-info{filename{}line{font-family:\00003104}}
form .ui.button:hover, table .ui.button:hover {
  background-color: #2DBDC2;
  color: #FFFFFF;
}

@media -sass-debug-info{filename{}line{font-family:\00003111}}
.ui.basic.compact.button {
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\00003115}}
h1.ui.header, h2.ui.header {
  color: #2C9FA3;
}

/******** GENERAL MAP/LIST GRID STYLES *************/
@media -sass-debug-info{filename{}line{font-family:\000038}}
#map-list-grid {
  padding: 1em;
  position: absolute;
  width: 100%;
}
@media -sass-debug-info{filename{}line{font-family:\0000313}}
#map-list-grid #left-column {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  height: 100%;
  overflow-y: scroll;
  padding: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\0000321}}
#map-list-grid #right-column {
  padding: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000326}}
#left-column-divider {
  margin-bottom: 0;
}

/*************** SEARCH STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\0000332}}
#pac-input, #resources-input {
  background-color: #fff;
  float: left;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\0000341}}
#pac-input:focus, #resources-input:focus, #search-resources-req-options:focus {
  border-color: #2C9FA3;
}

@media -sass-debug-info{filename{}line{font-family:\0000345}}
#location-search, #search-keyword, #resources-input {
  height: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000350}}
#search-user-resources {
  background-color: #2C9FA3;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

@media -sass-debug-info{filename{}line{font-family:\0000357}}
#search-user-resources:hover {
  background-color: #2DBDC2;
}

@media -sass-debug-info{filename{}line{font-family:\0000362}}
#resource-search {
  background-color: #F8F8F8;
  box-shadow: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000367}}
.descriptor-group {
  font-family: "Nunito Sans", sans-serif;
  margin: 3px;
}
@media -sass-debug-info{filename{}line{font-family:\0000371}}
.descriptor-group h5 {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 0 5px 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000377}}
.option-group, .option-group-advanced {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000382}}
.option-group-advanced {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000386}}
#advanced-filters-showhide {
  color: #2C9FA3;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 0.5em;
  text-decoration: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000394}}
#advanced-filters-showhide:hover {
  color: #2DBDC2;
}

@media -sass-debug-info{filename{}line{font-family:\0000398}}
.checkbox-option {
  margin-right: 5px;
}

@media -sass-debug-info{filename{}line{font-family:\00003102}}
.descriptor {
  display: block;
}

@media -sass-debug-info{filename{}line{font-family:\00003106}}
#search-divider, #results-divider {
  color: #555;
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\00003111}}
#results-divider {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003115}}
#search-keyword {
  margin: 0 0 5px 0;
}

/*************** LIST STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003120}}
#list {
  margin-bottom: 0px;
  margin-top: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003126}}
#list > .item.list-resource {
  cursor: pointer;
  margin: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003132}}
#list > .item.list-resource .sub.header {
  float: left;
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  margin-right: 15px;
  padding-right: 10px;
}
@media -sass-debug-info{filename{}line{font-family:\00003139}}
#list > .item.list-resource .sub.header .ui.small.label {
  font-size: 14px;
}
@media -sass-debug-info{filename{}line{font-family:\00003144}}
#list > .item.list-resource .ui.label {
  background-color: #DDDDDD;
  display: inline-block;
  margin-left: 0;
  margin-top: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003151}}
#list > .item.list-resource a, #list > .item.list-resource a:hover, #list > .item.list-resource a:active {
  color: #2C9FA3;
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\00003156}}
#list > .item.list-resource #resource-list-chevron {
  float: right;
  margin-top: 1.5em;
  position: absolute;
  right: 1em;
  vertical-align: middle;
}
@media -sass-debug-info{filename{}line{font-family:\00003164}}
#list > .item.list-resource .header {
  display: inline-block;
}

@media -sass-debug-info{filename{}line{font-family:\00003170}}
#category, #avg_rating {
  height: 2em;
  display: inline-block;
  vertical-align: middle;
}

/*************** MAP STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003177}}
#map {
  border: solid #CCCCCC;
  border-width: 1px 1px 1px 0;
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\00003185}}
.marker-info {
  font-family: "Nunito Sans", sans-serif;
  padding: 0.25em 0.25em 0em;
}
@media -sass-debug-info{filename{}line{font-family:\00003189}}
.marker-info .ui.header {
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\00003193}}
.marker-info #address-marker {
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{}line{font-family:\00003197}}
.marker-info #more-info-label {
  background-color: #2C9FA3;
  color: white;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  margin-left: -2px;
  text-decoration: none;
}
@media -sass-debug-info{filename{}line{font-family:\00003207}}
.marker-info #more-info-label:hover {
  background-color: #2DBDC2;
}

@media -sass-debug-info{filename{}line{font-family:\00003212}}
#marker-resource-name, #marker-resource-info {
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\00003216}}
#avg_rating-marker {
  color: #2C9FA3;
  margin-left: -2px;
  margin-right: 4px;
}

/*************** RESOURCE VIEW SPECIFIC STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003224}}
#resource-info {
  background-color: #F8F8F8;
  border: solid #CCCCCC;
  border-width: 1px 1px 1px 0;
  font-family: "Nunito Sans", sans-serif;
  height: 100%;
  overflow: scroll;
  padding: 1.25em;
}
@media -sass-debug-info{filename{}line{font-family:\00003234}}
#resource-info > .ui.header > .sub.header > .ui.label {
  margin-left: 0px;
}
@media -sass-debug-info{filename{}line{font-family:\00003238}}
#resource-info a {
  color: #2C9FA3;
}
@media -sass-debug-info{filename{}line{font-family:\00003242}}
#resource-info a:hover {
  color: #2DBDC2;
}
@media -sass-debug-info{filename{}line{font-family:\00003246}}
#resource-info #resource-name {
  display: inline;
  font-size: 36px;
  padding-bottom: 1em;
  padding-top: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003253}}
#resource-info .successMessage {
  display: none;
}
@media -sass-debug-info{filename{}line{font-family:\00003257}}
#resource-info .sub.header {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}
@media -sass-debug-info{filename{}line{font-family:\00003262}}
#resource-info .ui.label {
  font-size: 14px;
  margin-top: 0.4em;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003268}}
#resource-info .ui.header {
  color: #2C9FA3;
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\00003275}}
#descriptor-name {
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\00003279}}
#back-button {
  color: #2C9FA3;
  display: inline-block;
  float: right;
  right: 1em;
  z-index: 2;
}

@media -sass-debug-info{filename{}line{font-family:\00003287}}
#back-button:hover {
  color: #2DBDC2;
}

@media -sass-debug-info{filename{}line{font-family:\00003291}}
#single-resource-map {
  height: 400px;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\00003296}}
#user-rating, .successMessage {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{}line{font-family:\00003300}}
#user-rating {
  background-color: #F8F8F8;
  box-shadow: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003305}}
#avg_rating {
  color: #2C9FA3;
}

@media -sass-debug-info{filename{}line{font-family:\00003309}}
#submit-rating {
  background-color: #2C9FA3;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

@media -sass-debug-info{filename{}line{font-family:\00003316}}
#submit-rating:hover {
  background-color: #2DBDC2;
}

@media -sass-debug-info{filename{}line{font-family:\000037}}
.editor-user {
  word-wrap: break-word;
}

@media -sass-debug-info{filename{}line{font-family:\0000311}}
#about, #suggest-resource, #contact, #login, #reset-password, #health, #rights {
  margin-bottom: 50px;
  position: absolute;
  left: 50%;
  top: 75px;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

@media -sass-debug-info{filename{}line{font-family:\0000321}}
#about, #health, #rights {
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\0000324}}
#about h1, #about h2, #about h3, #health h1, #health h2, #health h3, #rights h1, #rights h2, #rights h3 {
  color: #AAAAAA;
  margin-bottom: 8px;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
#about-header, #health-header, #rights-header {
  color: #2C9FA3 !important;
}

/****SUGGEST NEW RESOURCE****/
@media -sass-debug-info{filename{}line{font-family:\0000336}}
#suggest-resource .ui.button, #contact .ui.button, #login .ui.button {
  background-color: #2C9FA3;
  color: #FFFFFF;
  font-weight: normal;
}
@media -sass-debug-info{filename{}line{font-family:\0000342}}
#suggest-resource .ui.button:hover, #contact .ui.button:hover, #login .ui.button:hover {
  background-color: #2DBDC2;
}

@media -sass-debug-info{filename{}line{font-family:\0000347}}
#suggest-resource-form {
  font-family: "Nunito Sans", sans-serif;
}
